In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.1'

In [4]:
#!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [6]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
#count of records in dataframe
df.shape[0]

9704

In [8]:
#count distinct fuel types
df['fuel_type'].nunique()

2

In [9]:
#list of columns having missing values
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [10]:
#no of columns having missing values
df.isna().any().sum()

np.int64(4)

In [11]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [12]:
#max fuel efficiency in asia
max_efficiency_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_efficiency_asia)

23.759122836520497

In [13]:
original_median = df['horsepower'].median()
print("Original Median:", original_median)

Original Median: 149.0

In [14]:
most_frequent = df['horsepower'].mode()[0]
print("Most Frequent (Mode):", most_frequent)

Most Frequent (Mode): 152.0

In [15]:
df['horsepower_filled'] = df['horsepower'].fillna(most_frequent)

In [16]:
new_median = df['horsepower_filled'].median()
print("New Median:", new_median)

New Median: 152.0

In [17]:
if new_median > original_median:
    print("Yes, it increased")
elif new_median < original_median:
    print("Yes, it decreased")
else:
    print("No")

Yes, it increased

In [18]:
df_asia_cars = df[df['origin'] == 'Asia']

In [19]:
df_asia_cars.shape[0]

3247

In [20]:
asian_subset = df_asia_cars[['vehicle_weight','model_year']]

In [22]:
asian_subset = asian_subset.head(7)

In [23]:
X = asian_subset.to_numpy()

In [24]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [25]:
XTX = X.T @ X

In [26]:
XTX_inv = np.linalg.inv(XTX)

In [27]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [29]:
w = XTX_inv @ X.T @ y

In [30]:
result = w.sum()
print(result)

0.5187709081074016